@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body {
  max-width: 1440px;
  height: 100vh;
  font-size: $fontRedHAtText;
  background-color: $Rose100;
  margin: 60px;
  font-family: $fontRedHAtText;
}

.App {
  display: flex;

  .List-Container {
    flex: 2;
  }

  .Cart-Container {
    flex: 1;
  }
}
